.modal{
    position: fixed;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.413);
}

.spending-form{
    text-align: center;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.83);
    border-radius: 10px;
    width: clamp(400px, 80vw, 800px);
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 16px;
    font-size: 1.5rem;
}
.close{
    background-color: #ac265e00;
    color: white;
    font-size: 2rem;
    border:none;
    width: 50px; /* Adjust this value as needed */
    height: 50px; /* Make sure this is equal to the width */
    padding: 10px; /* Adjust padding to your preference */
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
}
.close:hover{
    cursor: pointer;
}